@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInSlideUp {
    animation: fadeInSlideUp 0.7s ease forwards;
}


/* Add this to your CSS file */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  border-right: 4px solid rgba(255, 255, 255, 0.75); /* Cursor effect */
  width: 0; /* Initial width */
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite; /* Typing effect and cursor blink */
}

/* Blink cursor animation */
@keyframes blink {
  50% {
    border-color: transparent; /* Blink effect */
  }
}



